<article id="post-{{ wp.the_ID }}" {{ wp.post_class }}>
    <header>
        <h1>
          <a href="{{ wp.the_permalink }}" title="{{ wp.the_title }}">
            {{ wp.the_title }}
          </a>
        </h1>
    </header>
    <section class="post_content clearfix">
      {{ wp.the_content }}
      {{ wp.wp_link_pages({'echo':'0'}) }}
    </section>
</article>
