<article id="post-{{ wp.the_ID }}" {{ wp.post_class }}>
    {% if wp.has_post_thumbnail %}
        <a href="{{ wp.the_permalink }}" title="{{ wp.the_title }}">
            {{ wp.the_post_thumbnail('wpsf-post-featured') }}
        </a>
    {% endif %}
    <header>
        <span class="meta">
            <timedate datetime="{{ wp.the_time('Y-m-d') }}" pubdate="">
                <span class="day">{{ wp.the_time('d') }}</span>
                <span class="month">{{ wp.the_time('M') }}</span>
                <span class="year">{{ wp.the_time('Y') }}</span>
            </timedate>
        </span>
        <h1>
          <a href="{{ wp.the_permalink }}" title="{{ wp.the_title }}">{{ wp.the_title }}</a>
        </h1>
    </header>
    <section class="post_content clearfix">
      {{ wp.the_content }}
    </section>
    <footer class="clearfix">
        {{ wp.get_the_category_list( "", null, wp.the_ID ) }}
    </footer>
</article>
